@model pnl.Models.TaxFormViewModel

<div>
    @foreach (var item in Model.TaxForms)
    {
        <div>@item.TaxYear</div>
        <div><a class="nav-link text-dark" asp-area="" asp-controller="TaxForm" asp-action="Review" asp-route-id="@item.ID">See the details</a></div>
        <div><a class="nav-link text-dark" asp-area="" asp-controller="TaxForm" asp-action="Edit" asp-route-id="@item.ID">Edit</a></div>
        <div><a class="nav-link text-dark" asp-area="" asp-controller="TaxForm" asp-action="Delete" asp-route-id="@item.ID">Delete</a></div>

    }
</div>