@model pnl.Data.Models.TaxForm;

<div>Review</div>
<div>@Model.TaxYear</div>
<div><a class="nav-link text-dark" asp-area="" asp-controller="TaxForm" asp-action="Index" >Return to Dashboard</a></div>
<div><a class="nav-link text-dark" asp-area="" asp-controller="TaxForm" asp-action="Edit" asp-route-id="@Model.ID">Edit</a></div>

