@inject TaxFormService service
<div style="padding:20px;" Class="ApplHeader">
    <div style="padding-left:20px;">
        @TaxForm.TaxYear
    </div>
    <div style="padding-left:20px;">
        @TaxForm.FilingStatus
    </div>
</div>

@code {

    [Parameter]
    public int TaxFormID { set; get; }

    private TaxForm TaxForm { get; set; }

    protected override void OnInitialized()
    {
        TaxForm = new TaxForm();
        GetTaxForm();
        base.OnInitialized();
    }
    private void GetTaxForm()
    {
        TaxForm = service.GetTaxForm(TaxFormID);
    }
}
