
<div>
    @foreach (var item in Source)
    {
        <Switch Checked="@item.isToggled"
                OnChange="()=> {
                            item.HandleToggleChanged();
                            StateHasChanged();
                        }"
                Value="CheckedB"
                Color="@item.color"
                InputProps="@(new Dictionary<string, object>{{ "aria-label", "secondary switch" }})" />
    }
</div>
@code
{
    [Parameter]
    public string Title { set; get; }
    [Parameter]
    public List<ToggleMe> Source { set; get; }
}