    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="mininavigation">
                    <div class="mini-navigation-inner-box">
                        <button id="viewDocument">
                            <img src="/img/document-management-icon-sm.svg"
                                 class="viewDocIcon" />
                            <span> View Your Documents</span>
                        </button>
                        <button id="SaveAndReturn">
                            <img src="/img/home-icon.svg" class="viewDocIcon" />
                            <span>Save & Return To Dashboard</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="min-height: 100%; padding-bottom: 90px">
        <div class="container main-border">
            <div class="row">
                <div class="col-sm-12">
                    <div class="steps-top-nav">
                        <span class="steps-box">
                            <div class="step-number">STEP 1</div>
                            <div class="step-caption">Basic Information</div>
                        </span>
                        <span class="steps-box">
                            <div class="step-number">STEP 2</div>
                            <div class="step-caption">Personal information</div>
                        </span>
                        <span class="steps-box">
                            <div class="step-number">STEP 3</div>
                            <div class="step-caption">income</div>
                        </span>
                        <span class="steps-box">
                            <div class="step-number">STEP 4</div>
                            <div class="step-caption">Additional Information</div>
                        </span>
                        <span class="steps-box">
                            <div class="step-number step-number-active">STEP 5</div>
                            <div class="step-caption">review</div>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="hr-line">
                        <hr />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="the-row-column-content">
                        <div class="awesomejohn">Almost</div>
                        <div class="john">There!</div>
                        <p class="colorpkblue">
                            We are almost done, we just need
                            a little bit of more information. The column
                            on the right is showing that you are missing
                            some important things.

                        </p>
                        <p class="colorpkblue">

                            Please review the information and submit
                            the proper documents.

                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="the-row-column-content main-border">
                        <div class="review-items">
                            <span><img src="/img/checklist-icon.svg" /></span>
                            <span class="checklist-review">Review</span>
                        </div>
                        <div class="check-list-info">
                            <span><img src="/img/info-icon.svg" /></span>
                            <span>Basic Information</span>
                            <span class="check-list-chk">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           value=""
                                           name="NeverMarried"
                                           id="NeverMarriedid" />
                                    <label class="form-check-label" for="NeverMarriedid">

                                    </label>
                                </div>
                            </span>
                            <span class="colorpkblue"><a href="/">see below</a></span>
                            
                        </div>
                        <div class="check-list-info">
                            <span><img src="/img/personal-informatfion-icon.svg" /></span>
                            <span>Personal Information</span>
                            <span class="check-list-chk">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           value=""
                                           name="NeverMarried"
                                           id="NeverMarriedid" />
                                    <label class="form-check-label" for="NeverMarriedid">

                                    </label>
                                </div>
                            </span>
                            <span class="colorpkblue"><a href="/">see below</a></span>
                            
                        </div>
                        <div class="check-list-info">
                            <span><img src="/img/money-icon.svg" /></span>
                            <span>Income & Expenses</span>
                            <span class="check-list-chk">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           value=""
                                           name="NeverMarried"
                                           id="NeverMarriedid" />
                                    <label class="form-check-label" for="NeverMarriedid">

                                    </label>
                                </div>
                            </span>                            
                        </div>
                        <div class="check-list-info">
                            <span><img src="/img/additonal-information-icon.svg" /></span>
                            <span>Additional Information</span>
                            <span class="check-list-chk">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           value=""
                                           name="NeverMarried"
                                           id="NeverMarriedid" />
                                    <label class="form-check-label" for="NeverMarriedid">

                                    </label>
                                </div>
                            </span>
                            
                        </div>
                        <div class="review-items">
                            <span><img src="/img/attention-icon.svg" /></span>
                            <span class="checklist-review">Attention Needed</span>
                        </div>
                        <div class="check-list-info">
                            <span><img src="/img/additonal-information-icon.svg" /></span>
                            <span>Additional Information</span>
                            <span class="check-list-chk">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" value="" name="NeverMarried" id="NeverMarriedid" />
                                    <label class="form-check-label" for="NeverMarriedid">
                                    </label>
                                </div>
                            </span>
                            <span class="colorpkblue"><a href="/">Upload Document</a></span>
                        </div>
                        <div class="check-list-info">
                            <span><img src="/img/additonal-information-icon.svg" /></span>
                            <span>Additional Information</span>
                            <span class="check-list-chk">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           value=""
                                           name="NeverMarried"
                                           id="NeverMarriedid" />
                                    <label class="form-check-label" for="NeverMarriedid">

                                    </label>
                                </div>
                            </span>
                            <span class="colorpkblue"><a href="/">see below</a></span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">

                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="step-nav-box">
                        <div class="step-nav">
                            <div id="next-step">
                                <button id="prev-step" @onclick="Prv">Previous Step</button>
                            </div>
                            <div id="next-step">
                                <button @onclick="Next">Next Step</button>
                            </div>
                            <div id="next-step">
                                <button id="revire-submit" @onclick="SubmitReview">Review & Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    @code{
        [Parameter]
        public EventCallback<int> NextPage { get; set; }

        [Parameter]
        public EventCallback<int> PrvPage { get; set; }

        [Parameter]
        public EventCallback<int> FinalPage { get; set; }

        public async Task Next()
        {
            await NextPage.InvokeAsync(7);
        }
        public async Task Prv()
        {
            await PrvPage.InvokeAsync(5);
        }
        public async Task SubmitReview()
        {
            await FinalPage.InvokeAsync(7);
        }
    }
