<div id="taxPanel">
    <MatTabGroup>
        <MatTab Label="2017">
            <div class="taxdetail">
                <div class="detail-taxYear">2017</div>

            </div>
        </MatTab>
        <MatTab Label="2018">
             <div class="taxdetail">
                 <div class="detail-taxYear">2018</div>

            </div>
        </MatTab>
        <MatTab Label="2019">
            <div class="taxdetail">
                <div class="detail-taxYear">2019</div>

            </div>
        </MatTab>
        <MatTab Label="2020">
            <div class="taxdetail">
                <div class="detail-taxYear">2020</div>
                <div class="detail-taxYear-filing">Filing</div>
                <div class="detail-taxYear-application-status">Application Status</div>
                <div class="detail-taxYear-date-updated">Date last updated</div>
                <div class="detail-taxYear-filing-status">Single</div>
                <div class="detail-taxYear-application-status-val">Inprocess</div>
                <div class="detail-taxYear-date-updated-val">11/06/2020</div>                
            </div>
        </MatTab>
    </MatTabGroup>
</div>