@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - pnl</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <base href="~/" />
</head>

<body class="container main-background-color">
    <div class="Main-Box row">
        <div class="col-sm-12 public-menu-col">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <img src="~/img/LOgo.png" class="logocls"/>
                    </div>
                    <div class="col-sm-9 public-menu ">
                        <div>Home</div>
                        <div>About Us</div>
                        <div>Product and Pricing</div>
                        <div>Resources</div>
                        <div>Contact Us</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 body-left">
        <div class="one-lef">Tax consultation and preparation with a </div>
        <div class="one-right">Human touch.</div>
        <div><input type="text" value="" /></div>
        <div>
            <button class="btn-primary">Get Started</button><div>
            </div>
            <div class="col-sm-6 body-right">
                <img src="~/img/Data-Audit.png" />
            </div>
            <div class="col-sm-12 footer">

            </div>
        </div>
    </div>
</body>


</html>
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - pnl - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="_framework/blazor.server.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
