<div class="dashboard">
    <div class="file-my-taxes">
        <a class="nav-link text-dark" asp-area="" asp-controller="TaxForm" asp-action="Create">FILE MY TAXES</a>
    </div>
    <div class="view-my-taxes">
        <a class="nav-link text-dark" asp-area="" asp-controller="TaxForm" asp-action="Index">VIEW TAXES</a>
        <div id="viewtaxesbtn" class="view-taxes-arrow"><img src="~/img/ViewMyTaxes.png" /></div>
    </div>
    <div id="taxpanel">
        <component type="typeof(TaxPanel)" render-mode="ServerPrerendered" />        
    </div>
</div>
