@page
@model LoginModel
@{
    Layout = "~/Areas/Identity/Views/Shared/_LayoutNoMenu.cshtml";
}

<header class="primary-padding navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow container-fluid primary-blue">
    <a class="navbar-brand brand-logo" asp-area="" asp-controller="Home" asp-action="Index">
        <img src="/img/LOgo.svg" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">        
        <ul class="navbar-nav flex-grow-1 menu-ul padding0px15px">
            <li class="nav-item">
                <a class="nav-link menu-link-color" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link menu-link-color" asp-area="" asp-controller="TaxForm" asp-action="Create">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link menu-link-color" href="/pnlaccess">Product & Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link menu-link-color" href="/PnlAccess/config">Resources</a>
            </li>
            <li class="nav-item">
                <a class="nav-link menu-link-color" href="#">Contact Us</a>
            </li>
        </ul>
    </div>
</header>

<div class="primary-padding container-fluid primary-blue">
    <div class="row">
        <div class="col-sm-12 col-md-6 d-none d-sm-block">
            <div class="lanontent">
                <div class="landing-content-tding-cop">
                    <p class="slog-small">Tax consultation and preparation with a</p>
                    <div class="slog-large">Human touch.</div>
                </div>
                <div class="landing-content-middle">
                    <p>
                        Work with an accountant or a tax specialist approved by the IRS from the comfort of anywhere.  Now a days we can buy and do anything from the comfort of anywhere thanks to technology and why not take advantage of that but, with The Human Touch. We understand that doing your taxes every year is overwhelming but it doesn’t have to be anymore, we understand that you are not a tax pro so we will not treat you like one that’s why we have our IRS approved tax specialist. Now you could relax and be assured that your taxes are in excellent hands.
                    </p>
                    <div class="getstarted">
                        <button class="btn btn-primary">Get Started</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6">
             <form id="account" method="post">
            <div class="landing-content data-audit">
                <div class="signin-form">
                    <div class="signin-form-company-title">PNL TAX CORP</div>
                    <div class="signin-form-subtop">
                        <div class="secured">
                            <div class="securedIcon"></div>
                            <div class="securedCaption">Secured</div>
                        </div>
                        <div class="advance">
                            <div class="advanceIcon"></div>
                            <div class="advanceCaption">Secured</div>
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="emailIcon"></div>
                        <div class="emailInput">
                            <input  asp-for="Input.Email" type="email" class="form-control" placeholder="Email" value="dioscarr@gmail.com" />
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="passwordlIcon"></div>
                        <div class="passwordlInput">
                            <input type="password"  asp-for="Input.Password" value="Password@123" class="form-control" placeholder="Password" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="forget-password smllfnt">
                        <a  asp-page="./ForgotPassword"> Forgot Password?</a>
                    </div>
                    <div class="signin-button-box">
                      
                            <button type="submit" class="btn btn-primary">
                                <div class="signin-button-inner-box">
                                    <div class="signinBtnIcon"></div>
                                    <div class="signin-btn-text">Sign In</div>
                                </div>
                            </button>
                        

                    </div>
                    <div class="terms-conditions">
                        By clicking Sign in, you agree to our Terms and have read and
                        acknowledge our US Privacy Statement.
                    </div>
                    <div class="remember-me">
                        <div class="remember-me-chk">
                            <div class="form-check">
                                <input type="checkbox" asp-for="Input.RememberMe" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                            </div>

                        </div>
                        <div class="Create-Account disp">
                            <div class="createAccountIcon"></div>
                            <div>                           
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Create Account</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>

        <div class="col-sm-12 col-md-6.d-none d-md-block d-lg-none">
            <div class="landing-content">
                <div class="landing-content-top">
                    <p class="slog-small">Tax consultation and preparation with a</p>
                    <div class="slog-large">Human touch.</div>
                </div>
                <div class="landing-content-middle">
                    <p>
                        Work with a tax pro from home. Provide virtual tax services. PNL Tax Corp philosophy is that if you could
                        buy a car, get a mortgage all at the comfort of your computer why can't you get the best accounting
                        services and tax preparations also from the comfort of your home or anywhere.
                    </p>
                    <div class="getstarted">
                        <button class="btn btn-primary">Get Started</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="primary-padding container-fluid ">
    <div class="row">
        <div class="col-sm-12"></div>
    </div>
    <!--How it works-->
    <div class="row">
        <div class="col-sm-12">
            <div class="section-title">How it works</div>
            <div class="devider">
                <img src="/img/pageheaderribon.svg" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sx-12 col-md-4">
            <div class="hworks-box">
                <div class="square">
                    <div class="square-box">
                        <div class="img">
                            <img id="img-1" src="/img/Youanswersimplequestions.png" />
                        </div>
                        <div class="heading3">
                            You answer simple questions. We do all the math.
                        </div>
                        <div class="desc">
                            The question are just a formality such as name, address etc. with the information our IRS approved tax specialist determine how many deductions you may qualify for and determine if you should use an itemized deduction or use the standard deduction to maximize refund.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sx-12 col-md-4">
            <div class="hworks-box">
                <div class="square">
                    <div class="square-box">
                        <div class="img">
                            <img id="img-2" src="/img/Uploapyour-tax-document.png" />
                        </div>
                        <div class="heading3">
                            Upload Your tax <br />
                            documents
                        </div>
                        <div class="desc">
                            To show proof of income and deductions, then Our IRS approved tax specialist double check if more deduction can be taken and to check if all your income is taxable
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sx-12 col-md-4">
            <div class="hworks-box">
                <div class="square">
                    <div class="square-box">
                        <div class="img"><img id="img-3" src="/img/Locksm.png" /></div>
                        <div class="heading3">File with confidence</div>
                        <div class="desc">
                            All of PNL TAX CORP tax specialist have been approved by the IRS and all of our accountants have accounting college degrees. Our website is verified by the IRS and our customers satisfaction is our number one priority
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Security & protection-->
    <div class="row">
        <div class="col-sm-12">
            <div class="section-title">Security & protection</div>
            <div class="devider">
                <img src="/img/pageheaderribon.svg" />
            </div>
        </div>
    </div>
    <section class="desktop-tablet-only">
        <div class="row">
            <div class="col-sm-12">
                <div class="securitypage-box">
                    <div class="inner-securitypage-box" style="width:400px;">
                        <div class="sec-header3">
                            <div class="numberslabel">01.</div>
                            <div>(the website security )</div>
                        </div>
                        <div class="sec-desc">
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div>
                    <div class="securitypage-box rowspan1">
                        <div class="inner-securitypage-box pull-right">
                            <div class="sec-header3 pull-right">
                                <div class="numberslabel">06.</div><div> Permission Only</div>
                            </div>
                            <div class="sec-desc text-align-right">
                                <p class="text-align-right">
                                    our tax specialist are only allowed to look at your personal information for the authorized tax year
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="securitypage-box rowspan1">
                        <div class="inner-securitypage-box pull-right">
                            <div class="sec-header3 pull-right">
                                <span class="numberslabel">05.</span><span>Safe and Secure</span>
                            </div>
                            <div class="sec-desc">
                                <p class="text-align-right">
                                    our tax specialist are only allowed to look at your personal information for the authorized tax year
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="securitypage-box rowspan2">
                    <div class="inner-securitypage-box">
                        <img class="fullimg" src="/img/Proctection.svg" />
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div>
                    <div class="securitypage-box rowspan1">
                        <div class="inner-securitypage-box pull-left">
                            <div class="sec-header3 pull-left">
                                <span class="numberslabel">02.</span><span>IRS Approved</span>
                            </div>
                            <div class="sec-desc">
                                <p class="text-align-left">
                                    <a href="">PNL-TAX.com</a> is recognized and approve website by the IRS to e-file personal and business taxes
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="securitypage-box rowspan1">
                        <div class="inner-securitypage-box pull-left">
                            <div class="sec-header3 pull-left">
                                <span class="numberslabel">03.</span><span>The Human Touch</span>
                            </div>
                            <div class="sec-desc text-align-left">
                                <p class="text-align-left">
                                    all tax return are doubled check by our tax software and also by a real irs approved tax specialist
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="securitypage-box">
                    <div class="inner-securitypage-box">
                        <div class="sec-header3">
                            <div class="numberslabel">04.</div>
                            <div>Double Protection</div>
                        </div>
                        <div class="sec-desc ">
                            <p class="text-align-center">
                                in addition to our website security all personal information is protected by a third party security authorized by the IRS
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Security Protection Order for Mobile-->
    <section class="mobile-only">
        <div class="row">
            <div class="col-sm-4">
                <div class="securitypage-box rowspan2 mobile-security-icon">
                    <div class="inner-securitypage-box">
                        <img class="fullimg" src="/img/Proctection.svg" />
                    </div>
                </div>
            </div>
            <!--Box-->
            <div class="col-sm-12">
                <div class="securitypage-box">
                    <div class="inner-securitypage-box">
                        <div class="sec-header3">
                            <div class="numberslabel">01.</div>
                            <div>lorem ipsum</div>
                        </div>
                        <div class="sec-desc">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
                                ac dolor in tellus convallis feugiat. Curabitur.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Box-->
            <div class="col-sm-12">
                <div class="securitypage-box">
                    <div class="inner-securitypage-box">
                        <div class="sec-header3">
                            <div class="numberslabel">02.</div>
                            <div>IRS Approved</div>
                        </div>
                        <div class="sec-desc">
                            <p class="text-align-left">
                                <a href="">PNL-TAX.com</a> is recognized and approve website by the IRS to e-file personal and business taxes
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Box-->
            <div class="col-sm-12">
                <div class="securitypage-box">
                    <div class="inner-securitypage-box">
                        <div class="sec-header3">
                            <div class="numberslabel">03.</div>
                            <div>The Human Touch</div>
                        </div>
                        <div class="sec-desc">
                            <p class="text-align-left">
                                all tax return are doubled check by our tax software and also by a real irs approved tax specialist
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Box-->
            <div class="col-sm-12">
                <div class="securitypage-box">
                    <div class="inner-securitypage-box">
                        <div class="sec-header3">
                            <div class="numberslabel">04.</div>
                            <div>Double Protection</div>
                        </div>
                        <div class="sec-desc">
                            <p class="text-align-center">
                                in addition to our website security all personal information is protected by a third party security authorized by the IRS
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Box-->
            <div class="col-sm-12">
                <div class="securitypage-box">
                    <div class="inner-securitypage-box">
                        <div class="sec-header3">
                            <div class="numberslabel">05.</div>
                            <div>Safe and Secure</div>
                        </div>
                        <div class="sec-desc">
                            <p class="text-align-right">
                                our tax specialist are only allowed to look at your personal information for the authorized tax year
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Box-->
            <div class="col-sm-12">
                <div class="securitypage-box">
                    <div class="inner-securitypage-box">
                        <div class="sec-header3">
                            <div class="numberslabel">06.</div>
                            <div>Permission Only</div>
                        </div>
                        <div class="sec-desc">
                            <p class="text-align-right">
                                our tax specialist are only allowed to look at your personal information for the authorized tax year
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!--How it works Your satisfaction, guaranteed-->
    <div class="row ">
        <div class="col-sm-12">
            <div class="section-title-page3">
                Your satisfaction, <span>guaranteed</span>
            </div>
            <div class="devider">
                <img src="/img/pageheaderribon.svg" />
            </div>
        </div>
    </div>

    <section class="satisfaction-section">

        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="satisfaction-box satisfaction-card">
                    <img src="/img/Circle1.svg">
                    <div class="satisfaction-box-content">
                        <h2>We search over 350 tax deductions</h2>
                        <div class="satisfaction-box-body">
                            <p>our tax specialist review the questionnaire to check all tax deductions to determine all the deductions you may qualify for that would result in the maximum refund possible.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="satisfaction-box satisfaction-card">
                    <img src="/img/Circle2.svg">
                    <div class="satisfaction-box-content">
                        <h2>Complete check of your return- the human touch</h2>
                        <div class="satisfaction-box-body">
                            <p>the human touch- each return is ran through our tax software and then checked by a real IRS approved tax specialist to determine if you mad a mistake or to check if you are eligible for more tax deductions </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="satisfaction-box satisfaction-card">
                    <img src="/img/Circle3.svg">
                    <div class="satisfaction-box-content">
                        <h2>100% accurate calculations guaranteed</h2>
                        <div class="satisfaction-box-body">
                            <p>our tax software is updated every year and it is up to date with all new tax codes passed by congress</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="satisfaction-box satisfaction-card">
                    <img src="/img/guidanceicon.svg">
                    <div class="satisfaction-box-content">
                        <h2>
                            Guidance in case of an audit
                        </h2>
                        <div class="satisfaction-box-body">
                            <p>we offer our services if you are ever audited by the IRS even if your taxes were not filed with us</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="satisfaction-box satisfaction-card">
                    <img src="/img/biglifeicon.svg">
                    <div class="satisfaction-box-content">
                        <h2>Big life changes? We can help</h2>
                        <div class="satisfaction-box-body">
                            <p>we offer tax consultations to take advantage of all deductions, while you open a new business, move to a different state or even if you inherit assets</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="satisfaction-box satisfaction-card">
                    <img src="/img/efileicon.svg">
                    <div class="satisfaction-box-content">
                        <h2>E-file get the fastest tax refund possiblee </h2>
                        <div class="satisfaction-box-body">
                            <p>as recommended by the IRS e-file is the fastest and secure way to file individual and business taxes.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="blog-section">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title-page4">Help center</div>
                <div class="devider">
                    <img src="/img/pageheaderribon.svg" />
                </div>
            </div>
        </div>
        <div class="row thinner">
            <div class="col-sm-12 col-md-4">
                <div class="blog-box blog-card">
                    <img src="/img/creditcardimg.png">
                    <div class="blog-box-content">
                        <h4>
                            <bold>
                                Check return status
                            </bold>
                        </h4>
                        <div class="blog-box-body">
                            <p>(<a href="https://sa.www4.irs.gov/irfof/lang/en/irfofgetstatus.jsp" target="_blank">https://sa.www4.irs.gov/irfof/lang/en/irfofgetstatus.jsp</a>) make sure you know the exact amount of your refund to get an update about your refund</p>                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="blog-box blog-card">
                    <img src="/img/moneyimg.png">
                    <div class="blog-box-content">
                        <h4>
                            <bold>
                                FAQ
                            </bold>
                        </h4>
                        <div class="blog-box-body">
                            <p>answers to any of your tax questioned answered by the IRS(<a href="https://www.irs.gov/help/ita" target="_blank">https://www.irs.gov/help/ita</a>)</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="blog-box blog-card">
                    <img src="/img/computerimg.png">
                    <div class="blog-box-content">
                        <h4>
                            <bold>
                                Forms, Instructions & publications (<a href="https://www.irs.gov/forms-instructions" target="_blank">https://www.irs.gov/forms-instructions</a>)
                            </bold>
                        </h4>
                        <div class="blog-box-body">
                            <p>get instructions on all of the IRS tax forms and dates when forms got updated</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!--View All btn-->
    <div class="row">
        <div class="col-sm-12">
            <div class="viewallsection">
                <button class="viewallbtn">View All</button>
            </div>
        </div>
    </div>
    <!--Social-->
    <div class="">
        <div class="row footer-social">           
            <div class="col-sm-12">
                <div class="social-card">
                    <div class="content-title">Social</div>
                    <div class="social-media-icons">
                        <img src="/img/facebookicon.svg" />
                        <img src="/img/twittericon.svg" />
                        <img src="/img/igicons.svg" />
                        <img src="/img/linkedinicon.svg" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="col-sm-3">
                <div class="footer-card">
                    <div class="sub-title">Help & Support</div>
                    <div class="content-bottom">
                        <p>Help & support- if you have any trouble logging in or any questions feel free to email us at <a href="mailto:PNLTAXCORP@gmail.com">PNLTAXCORP@gmail.com</a> or contact us <a href="tel:3475673007">3475673007</a> via phone or text message</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="footer-card  justifyleft">
                    <div class="sub-title">Quick Links</div>
                    <div class="content-bottom">
                        <p class="lnht">
                            <a href="#">About Us</a>
                            <br />
                            <a href=#>Product & Pricing</a>
                            <br />
                            <a href="#">Resources</a>
                            <br />
                            <a href="#">Contact Us</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="footer-cta">
                    <div class="content-title">
                        <img src="/img/LOgo.svg" style="width: 200px" />
                    </div>
                    <div class="content-card-body color-white">
                        <div class="sub-title  color-white">About Use</div>
                        <div class="content-card-body color-white">
                            <p>About us- PNL TAX CORP was started to help people take out the complexity and overwhelming feeling of doing your taxes every year. Our philosophy is, why does it have to be complicated? Now a days we can buy and do anything from the comfort of anywhere thanks to technology and why not take advantage of that. We here understand that everyone is not a tax specialist so why treat them like they are, why make the customer fill out the tax forms by themselves and still charge them for doing all the work? it doesn’t make sense, that is why here at PNL TAX CORP we provide The Human Touch, we ask you to fill out a basic questionnaire so we can get an idea of which tax bracket you fall under then our IRS approved tax specialist do the work in filling out the tax forms and determine the deductions you may qualify for. Doesn’t that make more sense?  Letting the specialist fill out the tax forms and determine your deductions and by doing so it provides you with assurance that your taxes would be done correctly.</p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <!--Empty row-->
    <div class="row">
        <div class="col-sm-12">
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="_framework/blazor.server.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

}
